.pull-right
  = link_to "Add quote", new_backend_quote_path, class: ['btn', 'btn-info']

- if @quotes_presenter.has_quotes?
  %table.quotes.table.table-striped
    %thead
      %th.author Author
      %th.quote Quote
      %th.actions

    %tbody
      - @quotes_presenter.each do |p|
        %tr
          %td= p.author
          %td= truncate p.text, :length => 75, :separator => ' '
          %td
            = link_to 'Tweet', backend_twitter_tweet_path(quote_id: p.id), method: :post,
              class: ['btn', 'btn-warning'], data: { confirm: "Are sure you want to tweet?" }
            = link_to 'Edit', edit_backend_quote_path(p.id), class: ['btn', 'btn-info']
            = link_to 'Delete', backend_quote_path(p.id), method: :delete,
                class: ['btn', 'btn-danger'], data: { confirm: "Are you sure?" }

- else
  There are no quotes available
