!!!
%html<>
  %head
    %title Quotes Administration
    = stylesheet_link_tag    'backend', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .wrapper
      .main
        %h1 Quotes Administration

        %ul.nav.nav-tabs
          %li= link_to 'Quotes list', backend_quotes_path

    .page
      .container
        = render 'layouts/flash_notifications'
        = yield
